# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# add
/debug
/release
/.qtc_clangd
/data/Corner/*
/data/BeamButt/*
/data/Up/*
/data/error/*
/data/seamDetWithPointCloud/*
/data/seamDetWithSeg/*
/data/SeamCoordinate.txt
/data/calib/*
/data/result/*
/data/3D_Models/robot/an_chuan_SW/*
/data/3D_Models/rail/SW/*
/data/robotPose/*
/output/*
/.VSCodeCounter/*
*.user
*.pcd
*.idb
*.pdb
*.exp
*.opt
Makefile*
data/log/log*
data/debug
data/paper
/data/workpieceCoaLoc
/data/test
*.bmp
*.engine
